h1 {
	text-align:center;
	font-family:Garamond;
	text-transform:uppercase;
	font-size:40px;
}
a:link {
	text-decoration: none;
	color:black;
}
p {
	text-align:center;
}
a:hover {
	color:#5314F5;
	text-transform:;
	font-family:TimesNewRoman;
}
a {
	color:black;
}
#somestuff {
	list-style-type: none;
	text-align:center;
	display:inline;
	padding:0px;
}
ul {
	display:inline;
	padding:0px;
}
